/*****COMMON CSS SECTION*****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -outline: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  font-size: 14px;
  font-weight: 400;
  color: #f5f5dc;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-size: cover;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 2;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.container {
  position: relative;
  width: 1200px;
  margin: auto;
  display: table;
  z-index: 10;
}

.width-33 {
  width: 33%;
  float: left;
}

.width-66 {
  width: 66%;
  float: left;
}

/*****MENU SECTION*****/
.main-panel {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 100vh;
  position: relative;
  background-color: hsl(237, 53%, 55%)
}

.logo {
  font-size: 40px;
  font-weight: 600px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.logo h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  margin-left: 2px;
  margin-top: -7px;
  font-style: oblique;
  font-weight: 500;
}

.logo .whiteheart {
  -webkit-transition: opacity 7s ease-in-out;
  -moz-transition: opacity 7s ease-in-out;
  -o-transition: opacity 7s ease-in-out;
  transition: opacity 7s ease-in-out;
  animation-name: heartFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
  animation-direction: alternate;
}

@keyframes heartFadeInOut {
  0% {
    opacity: 1;
  }

  14% {
    opacity: 1;
  }

  28% {
    opacity: 0;
  }

  42% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
}

.span-col {
  color: #ffb000;
}


nav {
  float: right;
  margin-top: 20px;
  margin-left: 30px;
  z-index: 15 !important;

}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  color: #fcffe7;
  gap: 10px;
}

nav a:hover {
  color: #ffb000;
  font-size: 28px;
  transition: 0.3s step-end;
}

.abt-img {
  width: 90%;
  clip-path: circle(175px);
  margin-top:0;

}

.circular--portrait img {
  width: 100%;
  height: auto;
}



.homepage-img {
  border-radius: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  width: 70px;
  height: 500px;
  border: 5px solid white;
  box-shadow: whitesmoke 0 0 40px;
margin-bottom: 30px;
}

.homepage-img:hover {
  transform: rotate(15deg);
  transition: 1s ease-in-out;
}

/*****Main BANNER*****/
.width-50 {
  float: left;
  width: 50%;
}

.banner-section {
  width: 100%;
  float: left;
  margin-top: 25vh;
}

.banner-section h1 {
  font-size: 42px;
  margin-top: 10px;
  font-weight: bolder;

}

.banner-section h2 {
  font-size: 34px;
  font-weight: bold;
}

.typewriter {
  width: 40%;
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 100px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation:
    typing 5s steps(52) infinite,
    blink-caret 0.75s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  40% {
    border-color: orange;
  }
}

.banner-section a {
  float: left;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #fcffe7;
  color: whitesmoke;
  margin-left: 12px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: ruby;
}

.banner-section a:hover {
  color: orangered;
}

/*****Main BANNER IMAGE*****/
.main-panel img {
  margin-top: 10%;
  width: 100%;
  margin-left: 10%;
}

/*ABOUT US SECTION*/
.main-section {
  height: 100vh;
  width: 100%;
  float: left;
  padding: 30px 0px 60px 0px;
  position: relative;
}

.width-100 {
  width: 100%;
  float: left;
}

.heading-text {
  width: 100%;
  text-align: center;
  text-decoration: dotted;
  float: left;
  font-size: 38px;
  text-align: center;
  color: #fcffe7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom:40px;
}

.about-img {
  width: 100%;
  padding: 0px 50px;
  margin-top: 45px;
}

.about-us {
  width: 100%;
  float: left;
  padding: 2px;
  padding-top:55px ;
}

.about-us p {
  font-size: 25px;
  margin-top: 15px;
  line-height: 35px;
  font-feature-settings: "blwf";
  font-family: serif;
}

.about-us h4 {
  font-size: x-large;
  margin-top: 15px;
  font-family: serif;
}

.about-us h3 {
  font-size: 25px;
  font-family: serif;

}


/*****SKILL SECTION*****/
.skill {
  margin-top: 70px;
  font-size: 25px;
}

.skill span {
  float: right;
}

.skill div {
  width: 100%;
  float: left;
  margin-top:20px;
  background: #e7e7e7;
  border-radius: 10px;
}

.skill div span {
  background: #ffbf35;
  height: 5px;
  float: left;
}

div[role="progressbar"] {
  color: #ffbf35;
  margin-left: 120px;
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
 place-items: center;
  display: grid;
--pgPercentage: var(--value);
  background: radial-gradient(closest-side,
      black 80%,
      transparent 0 99.9%,
      black 0),
    conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);
}

.progress {
  margin-top: 80px;
}

/* .h-whole {
  height: 100vh;
  position: block;
} */

/*CONTACT ME SECTION*/
.contact form {
  width: 66%;
  margin: 0px auto;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cont input,
.cont button {
  width: 80%;
  height: 50px;
  font-size: 20px;
}

.cont button div span p {
  font-size: 25px;
  font-size: 600;
}

.input-style {
  padding: 20px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 15px;
  color: gray;
  outline: none;

}

.input-style:focus {
  border-color: #c6daef;
  box-shadow: rgb(133, 248, 0) 0px 3px 4px;
}

textarea,
.input-area {
  width: 80%;
  font-size:20px;
  color: grey;
  border-radius: 8px;
  outline: none;
  padding:20px;
  border: 1px solid #555;
}

.input-area:focus {
  border-color: #c6daef;
  box-shadow: rgb(133, 248, 0) 0px 3px 4px;

}

button {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50px;
  border: 2px solid gainsboro;
  border-radius: 30px;
  box-shadow: 0 0 3px white;
  overflow: hidden;
  align-items: center;
  }

button div {
  transform: translateY(0px);
  width: 100%;
}

button,
button div {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

button div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0.75em 1.125em;
  text-align: center;
}
            
button div:nth-child(1) {
  background:linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
}

button div:nth-child(2) {
  background:linear-gradient(to right, #42ab2f 0%, #63e07e  51%, #4cc415  100%) ;
}

button:hover {
  box-shadow: 0 0 3px white;
}

button:hover div {
  transform: translateY(-50px);
}

button p {
  font-size: 20px;
  font-weight: bold;
  color:white;
  padding-bottom:5px;

}

button:active {
  transform: scale(0.95);
}

.tools {
  margin-top: 50px;
}

/* 
.contact {
  background-image: url("./imgs/cnt1.jpg");
  background-repeat: no-repeat;
  background-size: fill;
} */



.contact h3 {
  font-size: 26px;
  text-align: center;
  margin-top: 60px;
  color: #fcffe7;
}

.contact h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.contact p {
  text-align: center;
  font-size: 16px;
}

/*****FOOTER SECTION*****/
.footer {
  background-color: black;
  padding: 25px;
  width: 100%;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  margin-top: -30px;
}

.width-33 h4 {
  font-size: 17px;
}

.width-33 h3 i {
  font-size: 50px;
}

.anime{
  opacity:0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
  }
  @keyframes moveup{
    100%{
      opacity:1 ;
      transform: translateY(0px);
    }
  }

  @media only screen and (max-width: 768px){


    .logo {
      margin-left: 20px;
      font-size:20px;
    }
    .logo h6{
      font-size:7px;
    }

    nav{
float:right;
margin-left:10px;
position:fixed;
    }

    nav a {
       margin-left:5px;
      text-align: center;
      font-size:13px;
}
.banner-section{
  padding-top:1px;
 }

.banner-section h1{
  font-size:25px;
 }
 .banner-section h2{
  font-size:21px;
 }
 .banner-section h3{
  font-size:13px;
  margin-top: 5px;

 }


.main-panel{
  height: fit-content;
  padding: 0px 20px;
}

.container{
  width: 100%;
  margin: 0px;
}

.width-50 {
  float:none;
  width:100%;
}











  }